---
import DefaultSiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
---

<div class="retro-site-title">
  <DefaultSiteTitle {...Astro.props} />
</div>

<style>
  .retro-site-title :global(a) {
    font-family: var(--font-head);
  }
</style>
